<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="./styles.css">
</head>
<!--https://www.framer.com/motion/          https://masonry.desandro.com/      -->

<body>
    <div id="app">
        <nav>
            <ul>
                <li><strong>Brand</strong></li>
            </ul>
            <ul>
                <li><a href="#" @click="togglePopup">Link</a></li>
                <li><a href="#" @click="togglePopup">Link</a></li>
                <li><button @click="togglePopup">Contact</button></li>
            </ul>
        </nav>

        <h1>GIT BRANCH MACCHARONI</h1>

        <div class="row">
            <div class="column">
                <div v-for="(src, index) in imagescol1" :key="index">
                    <a :href="src">
                        <img :src="src" alt="Image">
                    </a>
                </div>
            </div>
            <div class="column">
                <div v-for="(src, index) in imagescol2" :key="index">
                    <a :href="src">
                        <img :src="src" alt="Image">
                    </a>
                </div>
            </div>
            <div class="column">
                <div v-for="(src, index) in imagescol3" :key="index">
                    <a :href="src">
                        <img :src="src" alt="Image">
                    </a>
                </div>
            </div>
            <div class="column">
                <div v-for="(src, index) in imagescol4" :key="index">
                    <a :href="src">
                        <img :src="src" alt="Image">
                    </a>
                </div>
            </div>
        </div>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;

        createApp({

            data() {
                return {
                    images: ["https://drive.google.com/thumbnail?id=1JNEuMBQkj2WerZUXLGNXTbO-y-pTJ-Gs&sz=w1080",
                        "https://drive.google.com/thumbnail?id=1zDZJwIB4whY194Rj9OAVt_6dqmOp7pm8&sz=w1080",
                        "https://drive.google.com/thumbnail?id=1bmo5nBykgPJOhap-7YWxjlUS5knljQuE&sz=w1080",
                        "https://drive.google.com/thumbnail?id=1sMf_vgsmQAJGpu6ih2EXNWw_aN1IyKUY&sz=w1080",
                        "https://drive.google.com/thumbnail?id=1Wqk8IPCkE2J8cYWPB9Ni2ENS3x7OyhgV&sz=w1080",
                        "https://drive.google.com/thumbnail?id=1fDHBvj75wxSovyZBf7GGrPQzhVvfdYr1&sz=w1080",
                        "https://drive.google.com/thumbnail?id=1fDHBvj75wxSovyZBf7GGrPQzhVvfdYr1&sz=w1080",
                        "https://drive.google.com/thumbnail?id=1JNEuMBQkj2WerZUXLGNXTbO-y-pTJ-Gs&sz=w1080",
                        "https://drive.google.com/thumbnail?id=1sMf_vgsmQAJGpu6ih2EXNWw_aN1IyKUY&sz=w1080",
                        "https://drive.google.com/thumbnail?id=1zDZJwIB4whY194Rj9OAVt_6dqmOp7pm8&sz=w1080",
                        "https://drive.google.com/thumbnail?id=1bmo5nBykgPJOhap-7YWxjlUS5knljQuE&sz=w1080",
                        "https://drive.google.com/thumbnail?id=1Wqk8IPCkE2J8cYWPB9Ni2ENS3x7OyhgV&sz=w1080"],
                    imagescol1: [],
                    imagescol2: [],
                    imagescol3: [],
                    imagescol4: [],
                    isVisible: false,
                };
            },
            methods: {
                splitImages() {
                    this.images.forEach((image, index) => {
                        switch (index % 4) {
                            case 0:
                                this.imagescol1.push(image);
                                break;
                            case 1:
                                this.imagescol2.push(image);
                                break;
                            case 2:
                                this.imagescol3.push(image);
                                break;
                            case 3:
                                this.imagescol4.push(image);
                                break;
                        }
                    });
                },

            },
            mounted() {
                console.log("mounted executed");
                this.splitImages();
            }
        }).mount('#app');
    </script>
</body>

</html>