.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin-bottom: 0;
  box-sizing: border-box;
  display: inline-block;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
    margin-bottom: 0;
    box-sizing: border-box;
    display: inline-block;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
    margin-bottom: 0;
    box-sizing: border-box;
    display: inline-block;
  }
}

#burger{
  width: 4em;
  position: fixed;
  margin: 1em;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #f8f8f8;
  --primary-hover: #c2185b;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #FFF;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
      --primary: #ffffff;
      --primary-hover: #e91e63;
      --primary-focus: rgba(216, 27, 96, 0.25);
      --primary-inverse: #FFF;
      -webkit-text-fill-color: #1ec0e9;
    }
  }

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="light"] {
    --primary: #f8f8f8;
    --primary-hover: #ffffff;
    --primary-focus: rgba(255, 255, 255, 0.25);
    --primary-inverse: #ffffff;
  }

/* Pink (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}