.flex-container{
  display: flex;
  flex-wrap: wrap; /* This allows items to wrap to the next line */
  gap: 10px; /* This sets the gap between items */
}

.image{
  display: inline-block; /* Make the div's width fit its content */
  line-height: 0; /* Remove space below the image */
  font-size: 0; /* Remove space between inline(-block) elements */
}

/* Media queries for responsiveness */
@media (min-width: 480px) {
  .flex-container div {
    flex-basis: calc(100% / 2 - 10px); /* 2 images per row minus gap */
  }
}

@media (min-width: 768px) {
  .flex-container div {
    flex-basis: calc(100% / 3 - 10px); /* 3 images per row minus gap */
  }
}

@media (min-width: 992px) {
  .flex-container div {
    flex-basis: calc(100% / 4 - 10px); /* 4 images per row minus gap */
  }
}

@media (min-width: 1200px) {
  .flex-container div {
    flex-basis: calc(100% / 5 - 10px); /* 5 images per row minus gap */
  }
}





/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #f8f8f8;
  --primary-hover: #c2185b;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #FFF;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
      --primary: #ffffff;
      --primary-hover: #e91e63;
      --primary-focus: rgba(216, 27, 96, 0.25);
      --primary-inverse: #FFF;
      -webkit-text-fill-color: #1ec0e9;
    }
  }

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="light"] {
    --primary: #f8f8f8;
    --primary-hover: #ffffff;
    --primary-focus: rgba(255, 255, 255, 0.25);
    --primary-inverse: #ffffff;
  }

/* Pink (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}